{
    "link": "",
    "name": "",
    "abilityScoreIncrease": [
        {
            "skill": "",
            "amount": 0
        }
    ],
    "speed": 0,
    "size": "",
    "languages": [
    ],
    "features_and_traits": [
    ],
    "subraces": [
    ]
}