{
    "characteName": "",
    "class": "",
    "subClass": "",
    "level": 0,
    "background": "",
    "playerName": "",
    "race": "",
    "subRace": "",
    "alignment": {
        "morals": "",
        "ethics": ""
    },
    "experiencePoints": 0,
    "inspiration": false,
    "stats": {
        "strength": 0,
        "dexterity": 0,
        "constitution": 0,
        "intelligence": 0,
        "wisdom": 0,
        "charisma": 0
    },
    "skills": {
        "acrobatics": 0,
        "animalHandling": 0,
        "arcana": 0,
        "athletics": 0,
        "deception": 0,
        "history": 0,
        "insight": 0,
        "intimidation": 0,
        "investigation": 0,
        "medicine": 0,
        "nature": 0,
        "perception": 0,
        "performance": 0,
        "persuasion": 0,
        "religion": 0,
        "sleightOfHand": 0,
        "stealth": 0,
        "survival": 0
    },
    "currentHitPoints": 0,
    "hitPointMaximum": 0,
    "hitDice": 0,
    "deathSaves": {
        "successes": 0,
        "fails": 0
    },
    "personalityTraits": [
    ],
    "ideals": [
    ],
    "bonds": [
    ],
    "flaws": [
    ],
    "proficiencies": [
    ],
    "languages": [
    ],
    "currency": {
        "copper": 0,
        "silver": 0,
        "electrum": 0,
        "gold": 0,
        "platinum": 0
    },
    "equipment": [
    ],
    "featuresAndTraits": [
    ],
    "age": 0,
    "height": "",
    "weight": "",
    "eyes": "",
    "skin": "",
    "hair": "",
    "characterAppearance": [
    ],
    "alliesAndOrganizations": [
    ],
    "symbol": [
    ],
    "characterBackstory": [
    ],
    "treasure": [
    ],
    "spells": [
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        []
    ],
    "slotsExpended": [
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0,
        0
    ],
    "conditions": {
        "blinded": false,
        "charmed": false,
        "deafened": false,
        "frightened": false,
        "grappled": false,
        "incapacitated": false,
        "invisible": false,
        "paralyzed": false,
        "petrified": false,
        "poisoned": false,
        "prone": false,
        "restrained": false,
        "stunned": false,
        "unconcious": false,
        "exhaustion": 0
    }
}